prune archive
exclude viper_provenance.egg-info/*
exclude docs/PUBLICATION_TODO.md
include docs/ProvenanceS1_v3.md
include docs/VERSIONING.md
recursive-include examples/provenance *.yaml
recursive-include examples/project/src *.py
recursive-include tests *.md *.py
