prune src/viper_provenance.egg-info
include docs/README.md
recursive-include docs/development *.md
recursive-include docs/explanation *.md
recursive-include docs/reference *.md
recursive-include docs/releases *.md
recursive-include docs/tutorials *.md
recursive-include examples/synthetic *.md *.py *.toml *.yaml
recursive-include tests *.md *.py
